/**
 * /* ------NAVBAR------
 *
 * @format
 */

nav.navbar {
  background-color: #072b44;
}
.logo-nav {
  width: 15vw;
  height: 15vh;
}
/* ------HOME------ */
.App {
  background: #072b44;
  color: aliceblue;
  display: flex;
  align-items: flex-start;
}
.banner-inicio {
  align-self: flex-end;
}
.banner-inicio img {
  width: 40vw;
  height: 80vh;
}
.spacer {
  padding: 17%;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.bn-linea {
  width: 30vw;
  height: 50vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.text-nowrap {
  resize: none;
}
